header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    color: purple;
    float: left;
}

p, h1 {
    margin: 30px;
    font-size: larger;
    font-weight: bold;
}

button {
    text-align: left;
    margin: 5px;
    background-color: purple;
    color: white;
}

#start {
    margin-left: 30px;
}

#play-again {
    margin-left: 30px;
}

#answers {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-content: flex-start;
    margin-left: 30px;
}
#timer {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    float: right;
}