header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    color: purple;
    float: left;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 30px;
    font-size: larger;
    font-weight: bold;
}

#timer {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    float: right;
}